*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 95vh;
    line-height: 120%;
    font-size: 1.1em;
    color: #252B42;
    font-weight: 700;
    font-family: 'Rubik', Arial, sans-serif;
    background-color: grey;
}

h1 {
    display: none;
}

.wrapper {
    display: grid;
    width: 70%;
    height: 100%;
    margin: 1% auto;
    padding: 2%;
    background-color: lightcyan;
    grid-template-areas: "slider slider"
                         "memText controls";
    grid-template-rows: 7fr 1fr;
    grid-template-columns: 3fr 1fr;
}

@media  (max-width: 767.98px) { 
    .wrapper {
        width: 80%;
        grid-template-areas: "slider"
                             "controls"
                             "memText";
        grid-template-rows: 10fr 1fr 2fr;
        grid-template-columns: 1fr;
        row-gap: 1%;
    }
}
@media  (max-width:  575.98px) { 
    .wrapper {
        width: 100%;
        grid-template-areas: "slider"
                             "controls"
                             "memText";
        grid-template-rows: 7fr 1fr 2fr;
        grid-template-columns: 1fr;
        row-gap: 1%;
    }
}
.overflow-slider {
    grid-area: slider;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 500%;
    height: 100%;
}

.slides {
    display: flex;
    width: 20%;
    height: 100%;
    align-self: center;
}

.slides img {
    width: 100%;
    vertical-align: middle;
}

.overflow-text {
    grid-area: memText;
    width: 100%;
    overflow: hidden;
}

.text-container {
    width: 500%;
    height: 100%;
    display: flex;
}

.text {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    white-space: wrap;
}

@media (max-width: 991.98px) { 
    .text{
        font-size: 90%;
    }
}

@media  (max-width: 767.98px) {
    .text {
        justify-content: center;
    }
 }
 @media  (max-width: 240px) {
    .text {
        font-size: 70%;
    }
 }

.controls {
    grid-area: controls;
    display: flex;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
}

@media  (max-width: 767.98px) {
    .controls {
        justify-content: center; 
    }
}

input[type="radio"] {
    display:none;
}

label {
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    width: 15%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media  (max-width: 767.98px) {
    label {
        width: 6%;
        height: 100%;
    }
 }

 @media  (max-width: 480px) {
    label {
        width: 7%;
        height: 90%;
    }
 }
 @media  (max-width: 420px) {
    label {
        width: 10%;
        height: 90%;
    }
 }
 @media  (max-width: 420px) {
    label {
        width: 20%;
        height: 90%;
    }
 }

.paginator {
    background-color: black;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: #252B42;
}

@media  (max-width: 767.98px) {
    .paginator {
        width:60%;
        height: 90%;
    }
 }

#slide1:checked ~ .wrapper .slider,
#slide1:checked ~ .wrapper .text-container {
	margin-left: 0;
}

#slide2:checked ~ .wrapper .slider,
#slide2:checked ~ .wrapper .text-container {
	margin-left: -100%;
}

#slide3:checked ~ .wrapper .slider,
#slide3:checked ~ .wrapper .text-container {
	margin-left: -200%;
}

#slide4:checked ~ .wrapper .slider,
#slide4:checked ~ .wrapper .text-container {
	margin-left: -300%;
}

label:hover .paginator { 
	background-color: white;
	border-color: #377fae;
    opacity: 0.5;
}

label:active .paginator {
    background-color: #1402dc;
}

.wrapper .slider,
.wrapper .text-container { 
	transition: all 700ms ease-out;
}

#slide1:checked ~ .wrapper label:nth-child(1) .paginator,
#slide2:checked ~ .wrapper label:nth-child(2) .paginator,
#slide3:checked ~ .wrapper label:nth-child(3) .paginator,
#slide4:checked ~ .wrapper label:nth-child(4) .paginator{
	background-color: #00b0fb;
}