*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 90vh;
    line-height: 2;
    font-size: 1.1em;
    color: #252B42;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}
h1 {
    display: none;
}
.wrapper {
    display: grid;
    width: 70%;
    height: 90vh;
    margin: 1% auto;
    padding: 2.5%;
    background-color: lightblue;
    grid-template-areas: "slider slider"
                         "memText controls";
    grid-template-rows: 90% 10%;
    grid-template-columns: 80% 20%;

}

.overflow-slider {
    grid-area: slider;
    width: 100%;
    overflow: hidden;
}
.slider {
    width: 500%;
}
.slides {
    display: inline-block;
    width: 20%;
    float: left;
}
.slides img {
    width: 100%;
}
.overflow-text {
    grid-area: memText;
    width: 100%;
    overflow: hidden;
}
.text-container {
    width: 500%;
}

.text {
    display: inline-block;
    float: left;
    width: 20%;
}
.controls {
    grid-area: controls;
    display: flex;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
}
input[type="radio"] {
    display:none;
}

label {
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    width: 20%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paginator {
    background-color: black;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: #252B42;
}

#slide1:checked ~ .wrapper .slider,
#slide1:checked ~ .wrapper .text-container {
	margin-left: 0;
}
#slide2:checked ~ .wrapper .slider,
#slide2:checked ~ .wrapper .text-container {
	margin-left: -100%;
}
#slide3:checked ~ .wrapper .slider,
#slide3:checked ~ .wrapper .text-container {
	margin-left: -200%;
}
#slide4:checked ~ .wrapper .slider,
#slide4:checked ~ .wrapper .text-container {
	margin-left: -300%;
}
label:hover .paginator { 
	background-color: white;
	border-color: #377fae;
    opacity: 0.5;
}
label:active .paginator {
    background-color: #1402dc;
}

.wrapper .slider { 
	transition: all 700ms ease-out;
}

#slide1:checked ~ .wrapper label:nth-child(1) .paginator,
#slide2:checked ~ .wrapper label:nth-child(2) .paginator,
#slide3:checked ~ .wrapper label:nth-child(3) .paginator,
#slide4:checked ~ .wrapper label:nth-child(4) .paginator{
	background-color: #00b0fb;
}